//
//  ReleaseConfig.xcconfig
//  SinoCloud
//
//  Created by Wesley on 2017/5/4.
//  Copyright © 2017年 SinoPac. All rights reserved.
//

#include "CommonConfig.xcconfig"

#include "Pods/Target Support Files/Pods-YouTubeLike/Pods-YouTubeLike.release.xcconfig"

APP_DISPLAY_NAME = YouTube
CONFIG_FLAG = RELEASE
